@import "./../../../../_constants/less/vars.less";

.calendar {
    position: relative;
    max-width: 250px;
    color: #6b86ff;
    font-family: "Arial", sans-serif;
    font-weight: bolder;

    &__selector{
        width: 100%;
        padding: 3%;
        aspect-ratio: 1/1;
        box-shadow: 5px 5px 20px gray;
        z-index: 1;
        position: absolute;
        background-color: whitesmoke;
    }

    &__button {
        aspect-ratio: 1/1;
        min-width: 20px;
        text-align: center;
        &--disabled {
            pointer-events: none;
            color: #aaaaaa;
        }
    }

    &__upper {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__mount-title {
        width: 40%;
        text-align: center;
    }
}
