@import "./../../../../_constants/less/vars.less";

.calendar {
    position: relative;
    max-width: 250px;
    color: #6b86ff;
    font-family: "Arial", sans-serif;
    font-weight: bolder;

    &__selector{
        padding: 3%;
        aspect-ratio: 1/1;
        box-shadow: 5px 5px 20px gray ;
    }

    &__button {
        width: 14%;
        aspect-ratio: 1/1;
        text-align: center;
        &--disabled {
          pointer-events: none;
            color: #aaaaaa;
        }
    }

    &__line {
        display: flex;
        justify-content: center;
    }

    &__mount-title {
        width: 40%;
        text-align: center;
    }
}